<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="header_inner">
      <h1 class="logo nbl">
        <a href="#" class="logo_link">ロゴ</a>
      </h1><!-- logo -->
      <div id="menuWrap" class="nav_wrap">
        <nav class="nav">
          <ul class="nav_box nb">
            <li><a href="#business" class="nav_item link_item close">事業内容</a></li>
      			<li><a href="#works" class="nav_item link_item close">施工事例</a></li>
      			<li><a href="#contact" class="nav_item other_item close">お問い合わせ</a></li>
    			</ul>
        </nav><!-- pc_nav -->
        <div class="on768">
          <div class="overlay"></div>
          <button id="menuTrigger" class="menu_trigger">
            <span></span>
            <span></span>
            <span></span>
          </button><!-- menu_trigger -->
        </div>
      </div>
    </div><!-- header_inner -->
  </header><!-- header -->
</body>
</html>
